@import "tailwindcss";

@theme {
  --breakpoint-nav: 1200px;
  --color-blue-100: #5F5AFF;
  --color-blue-200: #040241;
  --color-green-100: #57F8C7;
  --color-green-200: #45E0B1; 
}

.navlink{
  position: relative;
}

.navlink::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  background-color: #5F5AFF;
  transition: all .3s ease;
  bottom: -2px;
  left: 0;
}

.navlink:hover::after {
  width: 100%;
}

p{
  color: #494949
}